@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


body, html{
    height: 100%;
}

body{
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #636363;
    line-height: 1.7;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(imagens/overlay.png), url(imagens/bg.jpg);
    background-position: left top;
    background-size: auto cover;
}

h1, h2, h3, h4, h5, h6{
    color: #836363;
    font-weight: 500;
    padding-bottom: 1em;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.3em;
}

h3{
    font-size: 1.2em;
}


.header-title{
    color: white;
    font-size: 14px;
    line-height: 1.5;
    margin: 135px 0 0 0;
    font-weight: normal;
    text-align: right;
}

header strong{
    font-weight: bold;
}

abbr, header a{
    color: white;
    text-decoration: none;
}

abbr:hover{
    color: #636363;
}

abbr:visited{
    color: rgb(190, 190, 190);
}

abbr:active{
    color: blue;
}

header#avatar{
    display: block;
    margin: 10px;
}

header a img {
    position: absolute;
    top: 100px;
    left: 298px;
    border-radius: 50%;
}

main{
    width: 65%;
    margin-left: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
}

#about-header{
    margin-bottom: 50px;
}

#about-header > p{
    padding-bottom: 50px;
}

.btn-link{
    text-decoration: none;
    padding: 10px 30px;
    color: #636363;
    border: 5px solid #636363;
    border-radius: 10px;
    font-size: 1.2em;   
}

.btn-link:hover{
    color: rgb(133,187,178);
    border: 5px solid rgb(133,187,178);
    transition: border 0.3s, color 0.3s;
}

#job1{
    width: 44%;
    float: left;
    box-sizing: border-box;
    margin: 1% 1% 0 0.7%;
}

#job1 img{
    border-radius: 5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin: 0 0 5% 0; 
}

#job1 img:hover{
    content: url(imagens/thumbs/01-old.jpg); /* Aqui eu alteraria a imagem e colocaria o botão de dentro "view */
    /* transition: Não sei como colocar em conteúdo hover com imagem */
    border-radius: 5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin: 0 0 5% 0; 
}

#job2{
    width: 44%;
    float: left;
    box-sizing: border-box;
    margin: 1% 5%; 
}

#job2 img{
    border-radius: 5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin: 0 0 5% 0; 
}

#job1 h3+p, #job2 h3+p, #job3 h3+p, #job4 h3+p, #job5 h3+p, #job6 h3+p{
    text-align: justify;
}

#job3{
    width: 44%;
    float: left;
    box-sizing: border-box;
    margin: 1% 1% 0 0.7%;
}

#job3 img{
    border-radius: 5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin: 0 0 5% 0; 
}

#job4{
    width: 44%;
    float: left;
    box-sizing: border-box;
    margin: 1% 5%; 
}

#job4 img{
    border-radius: 5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin: 0 0 5% 0; 
}

#job5{
    width: 44%;
    float: left;
    box-sizing: border-box;
    margin: 1% 1% 0 0.7%;
}

#job5 img{
    border-radius: 5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin: 0 0 5% 0; 
}

#job6{
    width: 44%;
    float: left;
    box-sizing: border-box;
    margin: 1% 5%; 
}

#job6 img{
    border-radius: 5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin: 0 0 5% 0; 
}

#form{
    clear: both;
    padding: 5% 0;
}

#form h2 ~ p {
    text-indent: 40px;
}

#form :nth-child(3){
    padding-bottom: 5%;
}

#form-cards{
    display: block;
    width: 100%;
    background-color: aquamarine;
}

.col1, .col2, .col3{   
    float: left;
    box-sizing: border-box;
    display: inline-block;
    width: 32%;
}

.col2, .col3{ 
    margin-left: 1%;
}

label{
    display: inline-block;
    padding: 10px 0;
}

input[type="text"], input[type="email"], #textarea{
    display: inline-block;
    border: transparent;
    border-radius: 5px;
    background-color: #eee;
    padding: 10px 20px;
    outline: transparent;
}

#textarea:hover, #textarea:focus{
    border: 2px solid rgb(133,187,178);
    border-radius: 5px;
    background-color: rgba(221, 221, 221, 0.705);
}

#textarea:focus{
    border: 3px solid rgb(133,187,178);
}

input[type="text"]:hover{
    border: 2px solid rgb(133,187,178);
    border-radius: 5px;
    background-color: rgba(221, 221, 221, 0.705);
}

input[type="text"]:focus{
    border: 3px solid rgb(133,187,178);
}

input[type="email"]:hover{
    border: 2px solid rgb(133,187,178);
    border-radius: 5px;
    background-color: rgba(221, 221, 221, 0.705);
}

input[type="email"]:focus{
    border: 3px solid rgb(133,187,178);
}

input[type="submit"]{
    border: transparent;
    border-radius: 5px;
    background-color: rgba(221, 221, 221, 0.705);
    margin-top: 20px;
    padding: 10px 15px;
}

input[type="submit"]:hover{
    border: 2px solid rgb(133,187,178);
    color: rgb(133,187,178);
    border-radius: 5px;
}

code{
    display: inline;
    /* Não sei porque o <code> não ficou com fundo cinza */ 
}

#elements{
        clear:both;
        padding: 5% 0;
}

#elements p > b, #elements p > strong{
    font-weight: bolder;
    color: black;
}

a{
    text-decoration: none;
    color: rgb(133,187,178);
    border-bottom: 2px double rgb(133,187,178);
    border-left: 1px dashed rgb(133,187,178);
}

blockquote{
    border-left: 5px solid rgba(221, 221, 221, 0.705);
    padding: 8px;
    margin: 20px 0;
    background-color: rgba(221, 221, 221, 0.1);
}

pre{
    border: 2px solid rgba(190, 190, 190, 0.1);
    display: block;
    border-radius: 5px;
}
ol, ul{
    margin:20px;
    padding: 0;
    list-style: inside;
}

ul#alternate{
    margin:20px;
    padding: 0;
    list-style: inside;
    list-style-type: none;
}

#lista1{
    width: 48%;
    float: left;
    box-sizing: border-box;
    margin: 1% 1% 5% 0.7%;
}

button.medio_verde{
    font-size: 0.8rem;
    padding: 0.8rem 1.1rem;
    background-color:#4ABF9F;
    border-radius: 5px;
    color: white;
    border: 1px solid transparent;
}
button.medio_branco{
    font-size: 0.8rem;
    padding: 0.8rem 1.1rem;
    background-color:transparent;
    border-radius: 5px;
    border: 1px solid rgba(190, 190, 190, 0.8);
}

#buttons1{
    padding: 5% 0;
}

button.pequeno_verde{
    font-size: 0.6rem;
    padding: 0.6rem 0.9rem;
    background-color:#4ABF9F;
    border-radius: 5px;
    color: white;
    border: 1px solid transparent;
}

button.pequeno_branco{
    font-size: 0.6rem;
    padding: 0.6rem 0.9rem;
    background-color:transparent;
    border-radius: 5px;
    border: 1px solid rgba(190, 190, 190, 0.8);
}

#lista2{
    width: 48%;
    float: left;
    box-sizing: border-box;
    margin: 1% 1% 5% 0.7%;
}  

button.largo_verde_G{
    font-size: 0.8rem;
    padding: 0.8rem 9.5rem;
    background-color:#4ABF9F;
    border-radius: 5px;
    color: white;
    border: 1px solid transparent;
    margin: 1% 0;
}

button.largo_branco_G{
    font-size: 0.8rem;
    padding: 0.8rem 9.5rem;
    background-color:transparent;
    border-radius: 5px;
    border: 1px solid rgba(190, 190, 190, 0.8);
    margin: 1% 0;
}
button.largo_verde_P{
    font-size: 0.6rem;
    padding: 0.6rem 9.8125rem;
    background-color:#4ABF9F;
    border-radius: 5px;
    color: white;
    border: 1px solid transparent;
    margin: 1% 0;
}

button.largo_branco_P{
    font-size: 0.6rem;
    padding: 0.6rem 9.8125rem;
    background-color:transparent;
    border-radius: 5px;
    border: 1px solid rgba(190, 190, 190, 0.8);
    margin: 1% 0;
}

#buttons2{
    padding: 5% 0;
    margin: 5% 0;
}

#alternate h3 + li, #alternate h3 + li + li{
    border-bottom: 2px solid rgba(190, 190, 190, 0.8);
}

/* Esqueci como colocar ícones com código */

#table h3, #table h2{
    display: inline-block;
    text-align: left;
}

table{
    width: 100%;
    text-align: left;
    padding: 5%;
}

tr{
    border-collapse: collapse;
    border-bottom: 1px solid rgba(128, 128, 128, .3);
}

td, th{
    border-collapse: collapse;
    padding: 10px;
    vertical-align: middle;
}

th{
    font-weight: bolder;
    border: none;
    background-color: rgba(128, 128, 128, .4);
    border-bottom: 2px solid black;
}

.linha2, .linha4{
    background-color: rgba(128, 128, 128, .2);
}
.linhabordada{
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}

tfoot{
    position: relative;
}

tfoot tr{
    position: relative;
}

tfoot td{
    border: none;
    display: inline;
    font-weight: bolder;
    text-align: end;
    margin-left: 87.5%;
    position: absolute;
}

#table_alternate{
    margin: 20% 0;
}

#table_alternate+h3 {
    display: block;
    position: inherit;
    clear: both;
    margin: 20% 0;
}

#table_alternate th, #table_alternate td{
        border: 1px solid rgba(128, 128, 128, .4);
        border-collapse: collapse;
        padding: 10px;
        vertical-align: middle;
}
    
#table_alternate th{
        border: 1px solid rgba(128, 128, 128, .4);
        font-weight: bolder;
        border: none;
        background-color: rgba(128, 128, 128, .4);
        border-bottom: 2px solid black;
}

.linha2-2, .linha4-4{
    background-color: rgba(128, 128, 128, .2);
}

.linha5-5{
    border-bottom: none;
}

#table_alternate tfoot > tr > td {
    border: none;
    display: inline;
    font-weight: bolder;
    text-align: end;
    margin-left: 87.5%;
    position: absolute;
}

#texto_flutuante{
    text-align: justify;
    margin:  2%;
}

#img_esquerda{
    float: left;
    margin:  2%;
}
#img_direita{
    float: right;
    margin:  2%;
}
#texto_flutuante p{
    float: right;
    margin:  1%;
}